<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device.width, innitial-scale=1.0">
	<title>Check result</title>
	<link rel="stylesheet" type="text/css" href="style123.css">
</head>
<body>
	<div class="container">
		<form action="">
			<div class="input-box">
				<h4>Voucher code</h4>
				<input type="text" placeholder="Input your voucher code">
			</div>
			<div class="input-box">
				<h4>Session</h4>
				<input type="text" placeholder="Input your session">
			</div>
			<div class="input-box">
				<h4>Level</h4>
				<input type="text" placeholder="Input what level result you want to check">
			</div>
			<div class="input-box">
				<h4>Reg Number</h4>
				<input type="text" placeholder="Input your registration number">
			</div>
			<a href=""><button>Check Result</button></a>

		</form>
	</div>

</body>
</html>